<div id="cat-header">
    <img id="cat-image" alt="An illustration of a cat" src="{{ 'assets/images/cat_trace.svg' | relative_url }}">
    <form id="cat-form">
        <input type="text" id="pass-c" class="cat-input" autocomplete="off" autofocus maxlength="1" size="1">
        <input type="text" id="pass-a" class="cat-input" autocomplete="off" maxlength="1" size="1">
        <input type="text" id="pass-t" class="cat-input" autocomplete="off" maxlength="1" size="1">
        <button type="submit" id="cat-submit">Submit</button>
    </form>
</div>
