<article class="article">
    <div class="article-wrapper">
        <header class="article-header">
            <h1 class="article-title">
                <a href="{{ site.baseurl | append: post.url | xml_escape }}"> {{ post.title }}</a>
            </h1>
        </header>
        <section class="article-content">
            {{ post.content }}
        </section>
    </div>
    <footer class="article-footer">
        <time class="article-date" datetime="">{{ post.date | date_to_long_string }}</time>
        {% if post.tags %}
        <ul class="article-tag-list">
            {% for tag in post.tags %}
            <li class="article-tag-item">
                <a href="{{ site.baseurl }}/archive#{{ tag | slugize}}" title="">{{ tag }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </footer>
</article>
