@font-face {
    font-family: Simpsons;
    font-style: normal;
    font-weight: normal;
    src: local('Simpsonfont SimpsonfontSimpsonfont'), url('/im-learnding/assets/fonts/simpsonfont.woff') format('woff');
}

@font-face {
    font-family: ibm-bios;
    font-style: normal;
    font-weight: normal;
    src: local('ibm-bios'), url('/im-learnding/assets/fonts/ibm-bios.woff') format('woff');
}

:root {
    --primary-color: blue;
    --secondary-color: #82bdbe;
    --tertiary-color: #eded55;
    --primary-high-contrast-color: #fefefe;
    --secondary-high-contrast-color: #343434;
    --heading-fonts: "Simpsons", var(--body-fonts);
    --body-fonts: "Comic Sans MS", "Comic Sans", var(--code-fonts);
    --code-fonts: "IBM Plex Mono", monospace, monospace;
}

body {
    background: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--body-fonts);
    padding: 0;
    margin: 0;
    line-height: 1.5;
    gap: 4em;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4 {
    font-family: var(--heading-fonts);
}

a {
    text-decoration-style: wavy;
    text-decoration-skip-ink: none;
}

img {
    max-width: 100%;
}

p, code, a {
    overflow-wrap: break-word;
    text-wrap: auto;
}

code {
    font-family: var(--code-fonts);
    padding: 0.1em;
    background-color: var(--primary-high-contrast-color);
    color: var(--secondary-high-contrast-color);
}

div pre {
    background: var(--primary-high-contrast-color);
    box-shadow: 0.5em 0.5em var(--secondary-high-contrast-color);
    color: var(--secondary-high-contrast-color);
    margin: 2em;
    padding: 1px 0.5em;
}

pre code {
    display:block;
	border-left: dotted 0.8em #8ebabb;
    border-right: dotted 0.8em #8ebabb;
    padding: 1em;
    margin: 0.5em 0;
    font-size: 0.8em;
}

code::selection, code span::selection {
    background: var(--secondary-high-contrast-color);
    color: var(--primary-high-contrast-color);
}

aside {
    background: var(--tertiary-color);
    box-shadow: 0.5em 0.5em var(--secondary-high-contrast-color);
    color: var(--secondary-high-contrast-color);
    padding: 1em;
    margin: 2em;
}

blockquote {
    display: block;
    background: var(--secondary-high-contrast-color);
    color: var(--primary-high-contrast-color);
    padding: 1em;
    margin: 1em;
    border: 0.5em solid #6F4E37;
    text-decoration-style: dotted;
}

main form input, label {
    display:block;
}

main form input {
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-bottom: dashed 0.2em var(--primary-color);
    font-family: var(--heading-fonts);
    font-size: 1.5em;
    margin-bottom: 1em;
}

main form button {
    background: var(--secondary-color);
    border: solid 0.2em var(--primary-color);
    padding:0.2em;
    font-family: var(--body-fonts);
    font-size: 1.5em;
    border-radius: 0.4em;
    text-decoration: none;
    color: var(--primary-color);
}

label {
    margin-bottom: 1em;
}

.hidden {
    overflow:hidden;
}

.cat-input {
    font-family: var(--body-fonts);
    font-size: 5em;
    text-transform: uppercase;
    border:none;
    border-bottom: 8px var(--primary-color) solid;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    caret-color: var(--primary-color);
    caret-shape: block;
    outline:none;
    text-align: center;
}

.article-date {
    display: block;
    margin-bottom: 1em;
    font-family: var(--heading-fonts);
}

nav ul, .article-tag-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

nav ul li a, .article-tag-item a {
    border: solid 0.2em var(--primary-color);
    padding:0.2em;
    border-radius: 0.4em;
    text-decoration: none;
    color: var(--primary-color);
    display:inline-block;
    width: max-content;
}

#cat-header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding: 2em;
}

#cat-image {
    width: 100vw;
}

#cat-form {
    text-align: center;
}

#cat-form button {
    display: none;
}

#site-header {
     scroll-margin-top: 1em;
}

#site-header, #main {
    padding: 0 1em;
}

#main {
    gap: 4em;
}

#site-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-high-contrast-color);
    color: var(--secondary-high-contrast-color);
    padding:1em;
}

#site-footer-header {
    color: inherit;
    font-family: ibm-bios, monospace, monospace;
    font-size:1.5em;
    text-align: center;
}

::selection, li a:hover, main form button:hover {
    background-color:var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

#site-footer-header::selection {
    background: var(--secondary-high-contrast-color);
    color: var(--primary-high-contrast-color);
}

@media (width >= 900px) {
    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        font-size: 1.4em;;
    }

    .article {
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 1 / -1;
    }
    
    .article-wrapper {
        grid-column:  3 / 9;
        grid-row: 1;
    }

    .article-title {
        margin-top: 0;
    }
    
    .article-footer {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    

    #cat-header {
        grid-column: 1 / -1;
    }

    #cat-image {
        width: 50vw;
    }

    #site-header {
        grid-column: 4 / 10;
        padding: 0;
    }

    #main {
        padding: 0;
        display: grid;
        grid-template-columns: subgrid;
        grid-column: 2 / 12;
    }

    #site-footer {
        grid-column: 1 / -1;
    }
}
